.rating {
  .star {
    font-size: 24px;
    display: inline-block;
    color: #e3e3e3;
  }
  .star:last-child {
    margin-right: 0;
  }
  .star:before {
    content:'\2605';
  }
  .star.full {
    color: #6faf57;
  }
  .star.half:after {
    content: '\2605';
    color: #6faf57;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
  }
}

blockquote {
  position: relative;
  marign: 0;
  padding: 30px 120px;
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 30px;

  &:before,
  &:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 100px;
    color: #eee;
    line-height: 1;
  }
  &:before {
    top: 0;
    left: 0;
    content: "\201C";
  }
  &:after {
    right: 0;
    bottom: 0;
    content: "\201D";
  }
}