.section-prefooter {
  position: relative;
  background-color: #fafafa;
  padding-top: 4em;
  padding-bottom: 4em;

  .widget-title {
    font-size: 19px;
    margin-top: 0;
  }
  ul {
    color: #777;
  }
  li {
    margin-bottom: 7px;
    
    > a {
      color: #777;
    }
  }
  p {
    font-size: 15px;
    color: #777;
  }
  span {
    display: block;
    color: #6faf57;

    &.highlight {
      padding-top: 10px;
    }
    &.highlight2 {
      font-family: "PoppinsBold", Helvetica, Arial, sans-serif;
      font-size: 27px;
    }
  }
}

.section-footer {
  background-color: #e3e3e3;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.footer-center {
  text-align: center;
  color: #333;

  a {
    color: #333;
    text-decoration: underline;
  }
}