.icon-service {
  border-radius: 50%;
  behavior: url(PIE.htc);
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background: #fafafa;
  border: 1px solid #fafafa;
}

.icon-personal-finance {
  display: inline-block;
  background-image: url('../images/icons/icon-personal-finance.png');
  background-repeat: no-repeat;
  width: 166px;
  height: 122px;
  margin-top: -27px;
  margin-left: -30px;

  .section-services-ext & {
    background-image: url('../images/icons/icon-personal-finance2.png');
    width: 89px;
    height: 51px;
    margin-top: 23px;
    margin-left: 0;
  }
}

.icon-home-finance {
  display: inline-block;
  background-image: url('../images/icons/icon-home-finance.png');
  background-repeat: no-repeat;
  width: 136px;
  height: 105px;
  margin-top: -19px;
  margin-left: -13px;

  .section-services-ext & {
    background-image: url('../images/icons/icon-home-finance2.png');
    width: 77px;
    height: 65px;
    margin-top: 12px;
    margin-left: 9px;
  }
}

.icon-cflow-finance {
  display: inline-block;
  background-image: url('../images/icons/icon-cflow-finance.png');
  background-repeat: no-repeat;
  width: 144px;
  height: 98px;
  margin-top: -11px;
  margin-left: -25px;

  .section-services-ext & {
    background-image: url('../images/icons/icon-cflow-finance2.png');
    width: 74px;
    height: 52px;
    margin-top: 21px;
    margin-left: 0;
  }
}

.icon-development-finance {
  display: inline-block;
  background-image: url('../images/icons/icon-development-finance.png');
  background-repeat: no-repeat;
  width: 161px;
  height: 120px;
  margin-top: -22px;
  margin-left: -25px;

  .section-services-ext & {
    background-image: url('../images/icons/icon-development-finance2.png');
    width: 56px;
    height: 68px;
    margin-top: 12px;
    margin-left: 0;
  }
}

.icon-home-about {
  height: 114px;
}

.icon-instant-approval {
  display: inline-block;
  background-image: url('../images/icons/icon-instant-approval.png');
  background-repeat: no-repeat;
  width: 121px;
  height: 114px;
}

.icon-total-flexible {
  display: inline-block;
  background-image: url('../images/icons/icon-total-flexible.png');
  background-repeat: no-repeat;
  width: 116px;
  height: 112px;
}

.icon-upfront-fee {
  display: inline-block;
  background-image: url('../images/icons/icon-upfront-fee.png');
  background-repeat: no-repeat;
  width: 121px;
  height: 92px;
}

.icon-line-credit {
  display: inline-block;
  background-image: url('../images/icons/icon-line-credit.png');
  background-repeat: no-repeat;
  width: 109px;
  height: 95px;
}

.icon-arrowdown-svg {
  content: '\f078';
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: top;
}

//.icon-more {
//  width: 40px;
//  height: 40px;
//  display: inline-block;
//  border-radius: 100%;
//  border: 1px solid #056eb2;
//  vertical-align: middle;
//  margin-right: 4px;
//  position: relative;
//}
//@media (max-width: 767px) {
//  .icon-more {
//    width: 30px;
//    height: 30px;
//  }
//}
//.icon-more:after,
//.icon-more:before {
//  width: 2px;
//  height: 16px;
//  display: block;
//  background: #056eb2;
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  margin: auto;
//}
//.icon-more:before {
//  width: 16px;
//  height: 2px;
//}
//.detector-title .icon-more,
//.btn-readmore .icon-more {
//  background-color: #056eb2;
//}
//.detector-title .icon-more:after,
//.btn-readmore .icon-more:after {
//  display: none;
//}
//.detector-title .icon-more:before,
//.btn-readmore .icon-more:before,
//.detector-title .icon-more:after,
//.btn-readmore .icon-more:after {
//  background-color: #fff;
//}
//.detector-title.collapsed .icon-more,
//.btn-readmore.collapsed .icon-more {
//  background-color: transparent;
//}
//.detector-title.collapsed .icon-more:after,
//.btn-readmore.collapsed .icon-more:after {
//  display: block;
//}
//.detector-title.collapsed .icon-more:before,
//.btn-readmore.collapsed .icon-more:before,
//.detector-title.collapsed .icon-more:after,
//.btn-readmore.collapsed .icon-more:after {
//  background-color: #056eb2;
//}
//.btn-readmore-inverted {
//  color: #fff!important;
//}
//.btn-readmore-inverted .icon-more {
//  background: #fff !important;
//  background-color: #056eb2 !important;
//}
//.btn-readmore-inverted .icon-more:after,
//.btn-readmore-inverted .icon-more:before {
//  background-color: #fff!important;
//}
//.btn-readmore-inverted.collapsed .icon-more {
//  border-color: #fff!important;
//  background: transparent !important;
//}
//.btn-readmore-inverted.collapsed .icon-more:after,
//.btn-readmore-inverted.collapsed .icon-more:before {
//  border-color: transparent!important;
//}