.section {
  position: relative;
  padding: 0;
  background-color: #fff;

  .section-heading {
    position: relative;
    text-align: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 90%;

    @media (max-width: 1199px) {
      width: 78%;
    }
    @media (max-width: 767px) {
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    &.half {
      @media (min-width: 480px) {
        width: 50%;
      }
    }
    p {
      margin-bottom: 20px;
      line-height: 1.5;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 1.6;
      }
    }
    .btn {
      margin-top: 7px;

      @media (min-width: 480px) {
        margin-top: 0;
      }
    }
    .btn-readmore {
      margin-top: 14px;
    }
  }
}

//.section-title {
//  font-family: "PoppinsBold", Helvetica, Arial, sans-serif;
//  font-size: 27px;
//  font-weight: 200;
//  margin-bottom: 16px;
//  color: #000;
//
//  @media (max-width: 1199px) {
//    font-size: 34px;
//    margin-bottom: 8px;
//  }
//  @media (max-width: 991px) {
//    font-size: 28px;
//  }
//  @media (max-width: 480px) {
//    font-size: 25px;
//  }
//}

//.section-contact-us {
//  .contact {
//    padding-left: 0;
//    list-style-type: none;
//
//    li {
//      color: #898989;
//    }
//    i {
//      color: #333;
//    }
//    span {
//      display: table;
//      position: relative;
//      top: -20px;
//      left: 20px;
//    }
//    a {
//      color: #333;
//
//      &:hover {
//        text-decoration: none;
//
//        span {
//          border-bottom: none;
//        }
//      }
//      span {
//        border-bottom: solid 1px #333;
//      }
//    }
//
//  }
//  label {
//    margin-bottom: 0;
//  }
//  .frm_forms {
//    @media (max-width: 767px) {
//      padding-bottom: 27px;
//    }
//  }
//  .contact-details {
//    @media (min-width: 991px) {
//      float: right;
//    }
//  }
//}

.section-partners {
  background-color: #fafafa;
}

.section-call2action {
  background: url('../images/bg-call2action.jpg') no-repeat right center fixed;
  background-size: 74%;

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: #6faf57;
    background: linear-gradient(to right, #6faf57, transparent);
  }
}

.section-services {
  background-color: #fafafa;

  .service {
    background: #fff;
    border: solid 1px #e3e3e3;
    border-radius: 2px;
    min-height: 280px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.22);

    &-link {
      background-color: #6faf57;
      border-radius: 50%;
      display: block;
      width: 48px;
      height: 48px;
      margin: 0 auto;

      &:hover {
        text-decoration: none;
      }
    }
    .arrow-right:before {
      display: block;
      padding-top: 16px;
      content: '\f178';
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 18px;
      color: #fff;
    }
  }
}

.section-review {
  .rating-link {
    color: #6faf57;
  }
  .rating-desc {
    font-size: 21px;
  }
  p {
    font-family: "PoppinsRegular", Helvetica, Arial, sans-serif;
  }
  .review-by {
    font-family: "PoppinsRegular", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
  .review-title {
    font-family: "PoppinsSemiBold", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #6faf57;
  }
}

.section-call2action2 {
  background-color: #6faf57;
  color: #fff;
}

.section-newsletter {
  background-color: #676767;

  p {
    display: inline;
    color: #fff;
  }
  ul {
    display: inline;

    li {
      display: inline;
      margin-left: 12px;
    }
  }
  span.fa-stack {
    height: 2.4em;
    line-height: 2.4em;
  }
  i {
    &.fa-stack-1x {
      color: #a7aca5;
    }
    &.fa-stack-2x {
      color: #fff;
      font-size: 2.4em;
    }
  }
  .social-icons a:hover {
    text-decoration: none;
  }
}

.section-blue {
  background-color: #056eb2;
}

.section-gray {
  background-color: #F3F3F3;
}